body {
  /* text-align: right; */
  background-image: url('../images/red.jpg');
  /* background-repeat: no-repeat; */
  background-size: 100%;
}

canvas{
  margin-top: 10px;
  border: 6px solid transparent;
  border-radius: 6px;
  /* padding-left: 200px; */
}

.both{
  display: flex;
  justify-content: space-around;
}

container{
  /* margin-top: 400px; */
  display: block;
  padding-left: 30px;
  /* margin-left: 100px; */
}

.github{
  display: flex;
  margin-bottom: 10px;
}

.linkedin{
  display: flex;
  margin-bottom: 10px;

}

.portfolio{
  display: flex;
}
img{
  margin-right: 10px;
}

a{
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-family: Comic Sans MS;
}

p{
  font-family: Comic Sans MS;
  font-weight: 700;
  font-size: 30px;
  color: white;
  /* width: 300px; */
}

span{
  font-weight: 300;
  font-size: 20px;
  color:black;
}
