body {
  text-align: right;
  background-image: url('../images/gray.png');
  /* background-repeat: no-repeat; */
  background-size: 100%;


}

canvas{
  margin-top: 10px;
  border: 6px solid #A9A9A9;
  border-radius: 6px;
  /* margin-left: auto; */
  margin-right: 220px;
}


button{ border:none; cursor:pointer; outline:none; }
button#playpausebtn{
	background:url('../images/pause.png') no-repeat;
	width:12px;
	height:14px;
}
button#mutebtn{
	background:url('../images/speaker.png') no-repeat;
	width:5px;
	height:14px;
